// colors 
$tuta-color:#f05a66;
$stone-color:#12bbb7;
$cream-color:#ffedcf;
$browen-color:#b7885a;
$dark-color:#6d6e71 ;
$light-tuta-color:#F7D7D6;



// social-colors
$facebook-color:#3b5999;
$whatsapp-color:#25D366;
$instagram-color:#e4405f;


// Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizntial:6rem;
$margin-row:5rem;


// transition
$transition: all .2s ease-out;