.footer{
   position: relative;
   bottom:-100rem;
   width: 100%;
    padding: 2rem 0 !important;
    //background-color: $light-tuta-color;
    height: 40rem;
   
    &_logo{  
        padding: 12rem 2rem;
       position: relative;
    }

    &_asaf{
  
        height:12rem;
        
        width: 100%;
      
        background-color:#293039;
        text-align: center;
        padding: 2rem 0;
        @media screen and (max-width:960px){
            height: 12rem;
            width: 37.5rem;
           //margin-right: 3rem;
        }
        @media screen and (max-width:414px){
            width: 41.5rem;
        }
        &-img{
            height:10rem;
            width:12rem;
         
            @media screen and (max-width:960px){
                height: 8rem;
                margin-right: 1rem;
            }           
        } 
       
        &-descp {
            font-size: 2.4rem;
            margin-top: 2rem;
            margin-left: 2rem;
            color: #eeeeee;
            @media screen and (max-width:960px){
                font-size: 1.2rem;
                margin-right: 1rem;

            }
        }
        &-link{
            text-decoration: none;
        }
    }
}
.logo{
    width: 8rem;
    position: absolute;
    left: 0;
}