.footer{
    position: relative;
    padding: 2rem 0 !important;
    background-color: $light-tuta-color;
    height: 40rem;
   
    &_logo{  
        padding: 12rem 2rem;
       position: relative;
    }
    &_dsc{
      position: absolute;
      left: 10rem;
      top: 68%;
      color: $dark-color;
      font-size: 2.4rem;
        
    }
    &_asaf{
        height:12rem;
        position: absolute;
        bottom: 0;
        width: 100%;
       
        background-color:#293039;
        text-align: center;
        padding: 1rem 0;
        @media screen and (max-width:960px){
            height: 4rem;
           
        }
        &-img{
            height:10rem;
            width: 12rem;
         
            @media screen and (max-width:960px){
                height: 10rem;
                margin-right: 1rem;
            }           
        } 
       
        &-descp {
            font-size: 2.4rem;
            margin-top: 2rem;
            margin-left: 2rem;
            color: #eeeeee;
            @media screen and (max-width:960px){
                font-size: 1.6rem;
                margin-right: 1rem;

            }
        }
        &-link{
            text-decoration: none;
        }
    }
}
.logo{
    width: 8rem;
    position: absolute;
    left: 0;
}